* {
    box-sizing: border-box;
}
.card {
    width: 22.7%;
    margin: 1%;
    float: left;
    border: 1px solid lightslategray;
}

.card img {
    width: 100%;
}

.card p {
    text-align: center;
}

.card:hover {
    border-color: black;
}

@media only screen and (max-width: 700px) {
    .card {
        width: 47.5%;
    }
}

@media only screen and (max-width: 500px) {
    .card {
        width: 97.5%;
    }
}